.button {
    justify-content: center;
    align-items: center;
    text-align: center;
}

button {
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 5px;
    color: white;
    background-color: #FFC312;
    padding: 5px 10px;
    box-shadow: 0 0.3rem rgba(121, 121, 121, 0.65);
}

button:hover {
    filter: brightness(180%)
}

button:active {
    transform: translate(0, 0.3rem)
}