html {
     box-sizing: border-box;
 }

body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 15% 75% 10%;
    grid-gap: 1px;
    font-family: 'Neucha', cursive;
}


main {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1px;
}


.loginForm {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23692ccc' fill-opacity='0.61' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#loginForm>div {
    align-self: center;
}

#loginForm {
    display: inline-grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    align-content: space-evenly;
    font-size: 1.2rem;
    line-height: 1.5rem;
    border-radius: 10px;
    padding: 18px;
    height: 80%;
    width: 80%;
    background-color: rgba(211, 211, 211, 0.6);
}

#background {
    background-image: url("../../images/back.jpg");
    background-size: 100% 100%;
}

.label {
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: left;
    justify-content: center;
    align-items: center;
}

.labelContent {
    background-color: #FFC312;
}

.box {
    grid-column-start: 1;
    grid-column-end: 3;
}

#userNameLabel {
    grid-row-start: 1;
    grid-row-end: 2;
}

#userNameLabel {
    grid-row-start: 1;
    grid-row-end: 2;
}

#userNameLabel {
    grid-row-start: 1;
    grid-row-end: 2;
}

#ubox {
    grid-row-start: 2;
    grid-row-end: 3;
}

#userNameErMsg {
    grid-row-start: 3;
    grid-row-end: 4;
    display: none;
}

#pwdLabel {
    grid-row-start: 4;
    grid-row-end: 5;
}

#pbox {
    grid-row-start: 5;
    grid-row-end: 6;
}

#pwdErMsg {
    grid-row-start: 6;
    grid-row-end: 7;
    display: none;
}

#loginErMsg {
    grid-row-start: 9;
    grid-row-end: 10;
    display: none;
}

input {
    width: 100%;
    padding: 6px 4px;
    box-sizing: border-box;
}

.lgnBtn {
    grid-row-start: 7;
    grid-row-end: 8;
}

.regBtn {
    grid-row-start: 8;
    grid-row-end: 9;
}
